:root {
  --vp-c-brand-1: #5672cd;
}

.vp-doc div {
  margin: 0 !important;
}

.VPTeamPage {
  margin: 0 !important;
}

.home>.wrapper>.container>.title {
  display: none;
}

.is-home {
  .image>.image-container {
    height: 220px;
  }

  @media (min-width: 960px) {
    .main {
      order: 2;
    }

    .image {
      order: 1;

      .image-container {
        height: 100%;
        transform: none;
      }
    }
  }
}